# dependencies
node_modules

# testing
coverage
/lib/dumbs

# machine specific
package-lock.json
yarn.lock

# misc
.idea
/temp
.DS_STORE
/downloaded

# build
/dist

# sensitive
/backend/credentials
/backend/file
/firebase.config.js
