# dependencies
node_modules

# testing
coverage
/lib/dumbs

# machine specific
package-lock.json
yarn.lock
.env

# misc
.idea
/temp
.DS_STORE
/downloaded

# build
/dist
/public/content.js
/public/content.css

# sensitive
/backend/credentials
/backend/file
/firebase.config.js
