@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?t83xbg');
  src:  url('fonts/icomoon.eot?t83xbg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?t83xbg') format('truetype'),
    url('fonts/icomoon.woff?t83xbg') format('woff'),
    url('fonts/icomoon.svg?t83xbg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icomoon-"], [class*=" icomoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-thumbs-down:before {
  content: "\e913";
}
.icomoon-thumbs-up:before {
  content: "\e914";
}
.icomoon-emoticon-weird:before {
  content: "\e90d";
}
.icomoon-left-3:before {
  content: "\e90e";
}
.icomoon-right-3:before {
  content: "\e90f";
}
.icomoon-double-chevron-down:before {
  content: "\e910";
}
.icomoon-double-chevron-up:before {
  content: "\e911";
}
.icomoon-sound-wave:before {
  content: "\e912";
}
.icomoon-arrow-down:before {
  content: "\e90b";
}
.icomoon-chevron-down:before {
  content: "\e90c";
}
.icomoon-cog:before {
  content: "\e900";
}
.icomoon-down-vote:before {
  content: "\e901";
}
.icomoon-headset:before {
  content: "\e902";
}
.icomoon-left-arrow:before {
  content: "\e903";
}
.icomoon-microphone:before {
  content: "\e904";
}
.icomoon-mute-microphone:before {
  content: "\e905";
}
.icomoon-upload:before {
  content: "\e906";
}
.icomoon-upload-audio:before {
  content: "\e907";
}
.icomoon-up-vote:before {
  content: "\e908";
}
.icomoon-volume0:before {
  content: "\e909";
}
.icomoon-volume2:before {
  content: "\e90a";
}
